<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <table>
            <tr>
                <th><a href="../">Home</a></th>
                <th><a href="../admin/">Login</a></th>
                <th><a href="../products/create/">Create</a></th>
                <th><a href="../products/">Products</a></th>
            </tr>
    </table>
    {% block content %}
    {% endblock %}
</body>
</html>